In [1]:
"|IMPORT PACKAGES|"
import pandas             as pd
import datetime
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation, DatetimeTickFormatter, Legend, Span
from   bokeh.models.tools import HoverTool
from   bokeh.palettes     import Category20
from   bokeh.models       import Arrow, NormalHead, OpenHead, VeeHead
from   datetime           import datetime as dt

In [5]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,GL:GX", skiprows=2, nrows=27, engine='openpyxl') # Be patient...

data = data.rename(columns={"CUENTA CORRIENTE"   :"CTA_CTE"})
data = data.rename(columns={"CUENTA CAPITAL"     :"CTA_CAP"})
data = data.rename(columns={"CUENTA FINANCIERA"  :"CTA_FIN"})
data = data.rename(columns={"ERRORES Y OMISIONES":"ERRORES"})

In [6]:
"|CHECK DATA|"
data

,YEAR,CTA_CTE,Bienes y Servicios,Bienes,Servicios,Rentas,Transferencias.1,CTA_CAP,CTA_FIN,Inversion extranjera directa,Inversion en cartera,Otras inversiones,ERRORES,RESERVAS
0,1982-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1983-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1986-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1987-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1988-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1989-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1990-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1991-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1992-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1993-12-31,-8168.5000,-5692.4000,-2363.600,-3328.8000,-2997.2000,521.1000,16.1000,20388.4000,2088.2000,33706.3000,-15406.1000,-10281.8600,-1954.1404
12,1994-12-31,-10981.4529,-7917.9000,-4138.900,-3779.0000,-3560.7529,497.2000,17.5000,13763.9181,2622.0878,9461.3079,1680.5222,-2117.9651,-682.0000
13,1995-12-31,-5104.1722,-1078.7000,2357.400,-3436.1000,-4622.2722,596.8000,14.2000,7687.0956,4112.2744,2313.4895,1261.3317,-2699.1234,102.0000
14,1996-12-31,-6755.4126,-1787.4494,1759.500,-3546.9494,-5450.1632,482.2000,50.8000,12198.0335,5347.7876,9594.1920,-2743.9462,-1611.4208,-3882.0000
15,1997-12-31,-12115.5339,-6507.8152,-2122.700,-4385.1153,-6122.5762,514.8575,66.3000,17641.4904,5507.4540,11024.4220,1109.6143,-2320.5565,-3271.7000
16,1998-12-31,-14464.5980,-7541.5479,-3097.200,-4444.3480,-7387.1182,464.0682,72.9000,18281.8981,4965.1801,8787.7784,4528.9395,-451.1000,-3438.7000
17,1999-12-31,-11909.6446,-4905.7580,-794.600,-4111.1580,-7457.1966,453.3100,149.1000,13622.1331,22257.4133,-6784.9115,-1850.3686,-661.6884,-1200.8000
18,2000-12-31,-8954.5178,-1831.8834,2451.900,-4283.7834,-7521.6703,399.0359,105.9000,7852.4813,9517.2862,-2583.6055,918.8008,-216.4385,1212.5751
19,2001-12-31,-3780.4352,3521.8106,7384.900,-3863.0894,-7726.7407,424.4948,156.5000,-14932.8866,2005.2602,-9503.3192,-7434.8275,-2861.4161,21418.2380
20,2002-12-31,8701.6535,15717.2802,17177.500,-1460.2198,-7555.6351,540.0084,406.1100,-20621.7020,2776.0411,-4640.3293,-18757.4138,-1878.0896,13392.0281
21,2003-12-31,8073.0708,15611.4983,16804.600,-1193.1016,-8042.5399,504.1124,70.0550,-15750.0219,878.2301,-7758.0816,-8870.1702,-1387.0927,8993.9889
22,2004-12-31,3076.4514,11933.6031,13264.600,-1330.9968,-9418.1525,561.0008,196.3000,-10762.6105,3448.7184,-9415.6104,-4795.7183,532.9583,6956.9007
23,2005-12-31,5054.9846,12095.1377,13086.660,-991.5223,-7524.0337,483.8806,88.9000,2166.1623,3954.2036,-386.5048,-1401.5364,111.9173,-7421.9642
24,2006-12-31,6498.8025,13266.6425,14029.600,-762.9575,-7722.6099,954.7699,97.6243,5679.7991,3098.6270,7239.3967,-4658.2247,884.0040,-13160.2300
25,2007-12-31,6048.5378,12570.5799,13552.062,-981.4821,-7594.6557,1072.6136,121.1458,7190.2731,4968.9248,7467.9628,-5246.6146,-270.2369,-13089.7200
26,2008-12-31,5421.2063,13340.9369,15563.272,-2222.3350,-9034.1907,1114.4600,185.0600,-6536.5741,8334.6186,-7878.5890,-6992.6037,947.6878,-17.3800

In [7]:
"|BUILD PLOT|"

data['y1'] = data['CTA_CTE']
data['y2'] = data['CTA_FIN'] + data['CTA_CAP']
data['y3'] = -data['RESERVAS']

cds    = ColumnDataSource(data)

#BUILD FIGURE
p = figure(title        = 'EL HUB ECONÓMICO | BALANZA DE PAGOS',
           x_axis_label = '',
           y_axis_label = 'Millones de dólares',
           x_axis_type  = "datetime",
           plot_height  = 400,
           plot_width   = 700)

p.xaxis[0].formatter = DatetimeTickFormatter(months="%b %Y")
p.toolbar_location = "right"
p.toolbar.autohide = True

#AXIS 1 (LEFT)
p1  = p.line("YEAR", "y1", line_alpha=0.50, width=2, color='blue' , muted_alpha=0.15, source=cds)
p2  = p.line("YEAR", "y2", line_alpha=0.50, width=2, color='red'  , muted_alpha=0.15, source=cds)
p3  = p.line("YEAR", "y3", line_alpha=0.75, width=4, color='black', muted_alpha=0.15, source=cds, legend_label='Reservas')

p.line('YEAR', 'ERRORES', color='black', line_dash='dashed', line_alpha=0.75, muted_alpha=0.15,  source=cds, legend_label='Erroes y omisiones')

p4  = p.varea(x='YEAR', y1=0, y2='y1', fill_color='blue', fill_alpha=0.50, muted_alpha=0.15, source=cds, legend_label='Cuenta corriente')
p5  = p.varea(x='YEAR', y1=0, y2='y2', fill_color='red' , fill_alpha=0.50, muted_alpha=0.15, source=cds, legend_label='Cuenta capital y Cuenta financiera')

p.add_tools(HoverTool(renderers=[p1], tooltips = [("Cta. Corriente"        ,"@y1{$0,0}")], mode="vline"))
p.add_tools(HoverTool(renderers=[p2], tooltips = [("Cta. Cap. y Financiera","@y2{$0,0}")], mode='vline'))
p.add_tools(HoverTool(renderers=[p3], tooltips = [("Reservas"              ,"@y3{$0,0}")], mode='vline'))

#LEGEND
p.yaxis[0].formatter = NumeralTickFormatter(format="$0,0")

h_axis = Span(location=0, dimension="width", line_color="black")
p.add_layout(h_axis)

p.legend.location     = "top_left"
p.legend.orientation  = "horizontal"
p.legend.click_policy = "mute"
show(p)

In [ ]:
"|EXPORT .PNG FILE|"

export_png(p, filename="bop.png")

In [ ]:
"|# CREATE HTML FILE|"

output_file(filename="bop.html", title="Balanza de Pagos")
save(p)

In [8]:
"|CREATE JSON FILE|"
import json
import bokeh.embed

from bokeh.embed import json_item

j = json.dumps(json_item(p, "bop"))
with open("bop.json", "w") as fp:
    json.dump(j, fp)