In [1]:
"|IMPORT PACKAGES|"
import numpy              as np
import pandas             as pd
import datetime
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation, DatetimeTickFormatter, Text, Span
from   bokeh.models.tools import HoverTool
from   bokeh.models       import Arrow, NormalHead, OpenHead, VeeHead
from   bokeh.transform    import dodge
from   datetime           import datetime as dt

In [28]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,G,J:N", skiprows=2, nrows=28, engine='openpyxl') # Be patient...

data = data.rename(columns={"Var. Reservas"                       :"TOTAL"})
data = data.rename(columns={"Compra de Divisas"                   :"DIVISAS"})
data = data.rename(columns={"Organismos Internacionales"          :"INTL"})
data = data.rename(columns={"Otras Operaciones del Sector Publico":"PUBLICO"})
data = data.rename(columns={"Efectivo Minimo"                     :"EFECTIVO"})
data = data.rename(columns={"Otros"                               :"OTROS"}) 

data['TOTAL']    = data['TOTAL']   /1000
data['DIVISAS']  = data['DIVISAS'] /1000
data['INTL']     = data['INTL']    /1000
data['PUBLICO']  = data['PUBLICO'] /1000
data['EFECTIVO'] = data['EFECTIVO']/1000
data['OTROS']    = data['OTROS']   /1000

data['YEAR2'] = data['YEAR'].dt.year

In [41]:
"|CHECK DATA|"
data

,YEAR,TOTAL,DIVISAS,INTL,PUBLICO,EFECTIVO,OTROS,YEAR2
0,1993-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1993
1,1994-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1994
2,1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1995
3,1996-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1996
4,1997-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1997
5,1998-12-31,NaN,NaN,NaN,NaN,NaN,NaN,1998
6,1999-12-31,-6.244324e+05,NaN,NaN,NaN,NaN,NaN,1999
7,2000-12-31,-3.755523e+05,NaN,NaN,NaN,NaN,NaN,2000
8,2001-12-31,1.017180e+06,NaN,NaN,NaN,NaN,NaN,2001
9,2002-12-31,-9.316222e+06,NaN,NaN,NaN,NaN,NaN,2002
10,2003-12-31,3.643195e+06,5.703871e+06,-2.607902e+06,-1.454742e+05,3.722323e+05,3.204695e+05,2003
11,2004-12-31,5.526542e+06,7.882417e+06,-3.622778e+06,1.937430e+04,6.841435e+05,5.633850e+05,2004
12,2005-12-31,8.431306e+06,9.676888e+06,-4.523662e+06,4.448109e+06,-1.293248e+06,1.232203e+05,2005
13,2006-12-31,3.959835e+06,1.400727e+07,-1.187626e+07,1.006346e+06,-9.820531e+05,1.804528e+06,2006
14,2007-12-31,1.413071e+07,1.047422e+07,-1.274943e+06,2.836986e+06,-1.840742e+06,3.933761e+06,2007
15,2008-12-31,2.183767e+05,-8.776249e+05,-1.355620e+06,8.736344e+05,2.363083e+05,1.343113e+06,2008
16,2009-12-31,1.581568e+06,3.299669e+06,3.428962e+06,-6.920455e+06,4.958668e+05,1.277524e+06,2009
17,2010-12-31,4.222352e+06,1.180532e+07,3.001546e+05,-1.224092e+06,-8.791216e+05,-5.779911e+06,2010
18,2011-12-31,-5.813907e+06,3.335385e+06,5.157126e+05,6.075764e+06,-6.383950e+06,-9.356818e+06,2011
19,2012-12-31,-3.085723e+06,9.200245e+06,9.798447e+04,-3.389567e+06,8.784553e+05,-9.872858e+06,2012
20,2013-12-31,-1.268976e+07,-5.309974e+06,6.509010e+05,1.127603e+06,2.388806e+05,-9.398372e+06,2013
21,2014-12-31,8.071038e+05,5.859665e+06,-4.430051e+05,7.421819e+06,-4.377872e+06,-7.617271e+06,2014
22,2015-12-31,-5.844065e+06,-7.529890e+06,-1.951539e+06,3.335681e+06,2.593600e+06,-2.326928e+06,2015
23,2016-12-31,1.320815e+07,3.534401e+06,-1.868612e+06,1.077170e+07,4.817300e+06,-4.045941e+06,2016
24,2017-12-31,1.628345e+07,-8.764985e+04,-1.735066e+06,1.869184e+07,-2.726278e+06,2.140600e+06,2017
25,2018-12-31,1.073068e+07,-1.596781e+07,1.957540e+07,-5.575028e+06,1.180680e+06,1.138877e+07,2018
26,2019-12-31,-2.093742e+07,-1.540781e+07,1.957709e+07,-9.342126e+06,-2.215960e+06,1.202746e+07,2019
27,2020-12-31,-5.461276e+06,-1.498981e+07,1.943127e+07,-1.216205e+07,1.486206e+06,1.259201e+07,2020

In [55]:
"|BUILD PLOT|"

cds = ColumnDataSource(data)
colors = ['green', 'red', 'gray','blue','yellow']

#BUILD FIGURE
p = figure(title = "RESERVAS DEL BCRA (MILLONES DE US$)",
#           y_range      = (-40000, 40000),
           x_range      = (2002,2021),
           x_axis_label = "",
           y_axis_label = "Millones de dólares",
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "above"
p.toolbar.autohide = True

#AXIS 1 (LEFT)
p1 = p.vbar(x=dodge('YEAR2', -0.30, range=p.x_range), top='DIVISAS' , width=0.15, fill_color='green' , fill_alpha=0.75, source=cds)
p2 = p.vbar(x=dodge('YEAR2', -0.15, range=p.x_range), top='INTL'    , width=0.15, fill_color='red'   , fill_alpha=0.75, source=cds)
p3 = p.vbar(x=dodge('YEAR2',  0.00, range=p.x_range), top='PUBLICO' , width=0.15, fill_color='gray'  , fill_alpha=0.75, source=cds)
p4 = p.vbar(x=dodge('YEAR2',  0.15, range=p.x_range), top='EFECTIVO', width=0.15, fill_color='blue'  , fill_alpha=0.75, source=cds)
p5 = p.vbar(x=dodge('YEAR2',  0.30, range=p.x_range), top='OTROS'   , width=0.15, fill_color='yellow', fill_alpha=0.75, source=cds)




#p.vbar(x=[1, 2, 3], width=0.5, bottom=0,
       #top=[1.2, 2.5, 3.7], color="firebrick")

#p.vbar(bottom=stack()         , top=stack('DIVISAS')      , x='YEAR', color='green', source=cds, name='Compra de divisas')
#p.vbar(bottom=stack('DIVISAS'), top=stack('DIVISAS','INT'), x='YEAR', color='red'  , source=cds, name="Organismos internacionales")

#p1 = p.line('WEEK', 'RESERVAS', color='black', line_alpha=0.75, width=2, legend_label='Reservas brutas'  , muted_alpha=0.2, source=cds)


#p.add_tools(HoverTool(renderers=[p1], tooltips = [("Reservas Brutas"  , "@RESERVAS")], mode="vline"))

#LEGEND
#h_axis = Span(location=0, dimension="width", line_color="black")
#p.add_layout(h_axis)
#p.xaxis[0].formatter = DatetimeTickFormatter(months='%b %Y')
p.yaxis[0].formatter = NumeralTickFormatter(format="$0")
#p.legend.location     = "top_left"
#p.legend.orientation  = "vertical"
#p.legend.click_policy = "mute"
show(p)