In [5]:
"|IMPORT PACKAGES|"
import numpy              as np
import pandas             as pd
import datetime
from   math               import pi
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation, DatetimeTickFormatter, Text, Span
from   bokeh.models.tools import HoverTool
from   bokeh.models       import Arrow, NormalHead, OpenHead, VeeHead
from   bokeh.transform    import dodge
from   datetime           import datetime as dt

In [6]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
#file = r'Resumen%20Estadistico%20-%20Argentina.xlsx'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,HT", skiprows=2, nrows=39, engine='openpyxl') # Be patient...

data['YEAR'] = data['YEAR'].dt.year

In [7]:
"|CHECK DATA|"
data

    YEAR  DESEMPLEO
0   1982   5.300000
1   1983   4.700000
2   1984   4.550000
3   1985   6.100000
4   1986   5.550000
5   1987   5.850000
6   1988   6.300000
7   1989   7.600000
8   1990   7.450000
9   1991   6.450000
10  1992   6.950000
11  1993   9.600000
12  1994  11.450000
13  1995  17.500000
14  1996  17.200000
15  1997  14.900000
16  1998  12.933333
17  1999  14.266667
18  2000  15.050000
19  2001  17.350000
20  2002  19.650000
21  2003  17.198533
22  2004  13.520906
23  2005  11.510060
24  2006  10.088053
25  2007   8.399897
26  2008   7.829543
27  2009   8.639983
28  2010   7.750000
29  2011   7.150000
30  2012   7.200000
31  2013   7.075000
32  2014   7.150000
33  2015   6.533333
34  2016   8.466667
35  2017   8.350000
36  2018   9.200000
37  2019   9.825000
38  2020  11.539483

In [8]:
"|BUILD PLOT|"

cds = ColumnDataSource(data)

#Presidents' shades and names
Junta2      = BoxAnnotation(left=1976, right=1983, bottom=0, line_color="black", fill_color="green"  , fill_alpha=0.1)
Alfonsin    = BoxAnnotation(left=1983, right=1989, bottom=0, line_color="black", fill_color="red"    , fill_alpha=0.1)
Menem       = BoxAnnotation(left=1989, right=1999, bottom=0, line_color="black", fill_color="blue"   , fill_alpha=0.1)
DeLaRua     = BoxAnnotation(left=1999, right=2001, bottom=0, line_color="black", fill_color="red"    , fill_alpha=0.1)
Duhalde     = BoxAnnotation(left=2001, right=2003, bottom=0, line_color="black", fill_color="blue"   , fill_alpha=0.1)
NKirchner   = BoxAnnotation(left=2003, right=2007, bottom=0, line_color="black" ,fill_color="blue"   , fill_alpha=0.1)
CFK         = BoxAnnotation(left=2007, right=2015, bottom=0, line_color="black" ,fill_color="blue"   , fill_alpha=0.1)
Macri       = BoxAnnotation(left=2015, right=2019, bottom=0, line_color="black", fill_color="yellow" , fill_alpha=0.1)
Fernandez   = BoxAnnotation(left=2019, right=2021, bottom=0, line_color="black", fill_color="blue"   , fill_alpha=0.1)

Junta2_N    = Label(x=1982, y=1, text="Junta Militar", text_font_size="10pt", text_align="left", angle_units="deg", angle=90)
Alfonsin_N  = Label(x=1986, y=1, text="Alfonsín"     , text_font_size="10pt", text_align="center", text_baseline='bottom', angle_units="deg", angle= 0)
Menem_N     = Label(x=1994, y=1, text="Menem"        , text_font_size="10pt", text_align="center", text_baseline='bottom', angle_units="deg", angle= 0)
DeLaRua_N   = Label(x=2000, y=1, text="De la Rúa"    , text_font_size="10pt", text_align="left"  , text_baseline='middle', angle_units="deg", angle=90)
Duhalde_N   = Label(x=2002, y=1, text="Duhalde"      , text_font_size="10pt", text_align="left"  , text_baseline='middle', angle_units="deg", angle=90)
NKirchner_N = Label(x=2005, y=1, text="N. Kirchner"  , text_font_size="10pt", text_align="left"  , text_baseline='middle', angle_units="deg", angle=90)
CFK_N       = Label(x=2011, y=1, text="C. Kirchner"  , text_font_size="10pt", text_align="center", text_baseline='bottom', angle_units="deg", angle= 0)
Macri_N     = Label(x=2017, y=1, text="Macri"        , text_font_size="10pt", text_align="center", text_baseline='bottom', angle_units="deg", angle= 0)
Fernandez_N = Label(x=2020, y=1, text="Fernández"    , text_font_size="10pt", text_align="left"  , text_baseline='middle', angle_units="deg", angle=90)

#BUILD FIGURE
p = figure(title        = "EL HUB ECONÓMICO | TASA DE DESEMPLEO (PROMEDIO ANUAL)",
           y_range      = (0, 22),
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "right"
p.toolbar.autohide = True

p.add_tools(HoverTool(tooltips = [("Año","@YEAR"),("Desempleo", "@DESEMPLEO{0.0}")], mode='vline'))

#AXIS 1 (LEFT)
p.line('YEAR', 'DESEMPLEO', color='black', width=2, line_alpha=0.50, source=cds)
p.circle('YEAR', 'DESEMPLEO', color='black', alpha=0.50, size=7, source=cds)

#ADD PRSEIDENTS' SHADES
p.add_layout(Junta2)
p.add_layout(Alfonsin)
p.add_layout(Menem)
p.add_layout(DeLaRua)
p.add_layout(Duhalde)
p.add_layout(NKirchner)
p.add_layout(CFK)
p.add_layout(Macri)
p.add_layout(Fernandez)

#ADD PRSIDENTS' NAMES
p.add_layout(Junta2_N)
p.add_layout(Alfonsin_N)
p.add_layout(Menem_N)
p.add_layout(DeLaRua_N)
p.add_layout(Duhalde_N)
p.add_layout(NKirchner_N)
p.add_layout(CFK_N)
p.add_layout(Macri_N)
p.add_layout(Fernandez_N)

#LEGEND
p.xaxis.ticker = np.arange(1982,2022,2)
p.xaxis.major_label_orientation = pi/2
show(p)

In [ ]:
"|EXPORT .PNG FILE|"

export_png(p, filename="desempleo.png")

In [ ]:
"|CREATE HTML FILE|"

output_file(filename="desempleo.html", title="Tasa de desempleo")
save(p)

In [9]:
"|CREATE JSON FILE|"
import json
import bokeh.embed

from bokeh.embed import json_item

j = json.dumps(json_item(p, "desempleo"))
with open("desempleo.json", "w") as fp:
    json.dump(j, fp)